{% extends "base.html" %}
{% block title %}圖譜{% endblock %}
{% block bg %}{% endblock %}
{% block background %}
<section class="hero-wrap img" style="background-image: url('https://assets.ppy.sh/beatmaps/{{mapset['beatmapset_id']}}/covers/cover.jpg'); height: 300px;">
  <div class="overlay"></div>
  	<div class="container">
  		<div class="row description align-items-left justify-content-left">
  			<div class="col-md-12">
  				<div class="hero-wrap text">
  					<div style='height:140px;'></div>
  					<a style='color:#fff;'>{{beatmap['version']}}</a>
            		<h2 style='color:#fff;'>{{mapset['title']}}</h4>
					<h6 style='color:#fff;'>{{mapset['artist']}}</h6>
  		  	</div>
			<div class="container text-right">
				<a href="https://osu.ppy.sh/b/{{beatmap['beatmap_id']}}" class="btn btn-light">官方連結</a>
				<a href="https://osu.ppy.sh/d/{{beatmap['beatmapset_id']}}" class="btn btn-light">下載圖譜</a>
				<a href="https://bloodcat.com/osu/s/{{beatmap['beatmapset_id']}}" class="btn btn-light">Blood Cat</a>
			</div>
  	    </div>
  	  </div>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="ftco-section bg-light">
    <div class="container">
        {% for diff in mapset['mapids'] %}
		<a class="btn btn-{{diff[3]}} {% if diff[1] == beatmap['version'] %}active{% endif %}" href="/maps/{{diff[0]}}" role="button" style="margin-bottom: 4px;">{{diff[1]}} [{{diff[2] | star}}★]</a>
        {% endfor %}
    </div>
</section>
<section div class="ftco-section">
	<div class="container table-responsive-lg">
		<table class="table table-sm table-responsive-md table-striped table-hover h6 container" style="width:90%">
			<thead class="thead-light">
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">評價</th>
					<th class="text-left">得分</th>
					<th class="text-left">準確率</th>
					<th class="text-left">玩家</th>
					<th class="text-left">最大連擊</th>
					<th class="text-left">300</th>
					<th class="text-left">100</th>
					<th class="text-left">50</th>
					<th class="text-left">MISS</th>
					<th class="text-left">MODS</th>
				</tr>
			</thead>
			<tbody>
				{% for data in ranking %}
				<tr>
					<td class="text-center">{{data['ranking']}}</th>
					<td class="text-center"><img src="{{ url_for('static',filename='images/badges/score-ranks/') }}{{ data['rank'] }}.svg"></th>
					<td class="text-left">{{data['score'] | integer}}</th>
					<td class="text-left">{{data['accuracy'] | acc}}</th>
					<td class="text-left"><img src="{{ url_for('static',filename='images/flags/') }}{{ data['country'] }}.png" width=24><a href="/players/{{ data['user_id'] }}/"> {{ data['username'] }}<a></th>
					<td class="text-left">{{data['maxcombo']| integer}}x</th>
					<td class="text-left">{{data['count300']| integer}}</th>
					<td class="text-left">{{data['count100']| integer}}</th>
					<td class="text-left">{{data['count50']| integer}}</th>
					<td class="text-left">{{data['countmiss']| integer}}</th>
					<td class="text-left">{% for mod in data['enabled_mods'] %}<img src="{{ url_for('static',filename='images/badges/mods/') }}{{ mod }}.png" class="mods" alt={{ mod }} data-toggle="tooltip" data-placement="top" title={{ mod }}>{% endfor %}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}