{% extends "base.html" %}
{% block title %}圖譜{% endblock %}
{% block bg %}https://assets.ppy.sh/beatmaps/{{mapset['beatmapset_id']}}/covers/cover.jpg{% endblock %}
{% block content %}
<section class="ftco-section bg-light">
    <div class="container">
        {% for diff in mapset['mapids'] %}
		<a class="btn btn-{{diff[3]}} {% if diff[1] == beatmap['version'] %}active{% endif %}" href="/maps/{{diff[0]}}" role="button" style="margin-bottom: 4px;">{{diff[1]}} [{{diff[2] | star}}★]</a>
        {% endfor %}
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <h5>{{beatmap['version']}}</h5>
        <h1>{{mapset['title']}}</h1>
        <h4>{{mapset['artist']}}</h3>
    </div>
</section>
<section div class="ftco-section">
	<div class="container table-responsive-lg">
		<table class="table table-sm table-striped table-hover">
			<thead class="thead-light">
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">評價</th>
					<th class="text-left">得分</th>
					<th class="text-left">準確率</th>
					<th class="text-left">玩家</th>
					<th class="text-left">最大連擊</th>
					<th class="text-left">300</th>
					<th class="text-left">100</th>
					<th class="text-left">50</th>
					<th class="text-left">MISS</th>
					<th class="text-left">MODS</th>
				</tr>
			</thead>
			<tbody>
				{% for data in ranking %}
				<tr>
					<td class="text-center">{{data['ranking']}}</th>
					<td class="text-center"><img src="{{ url_for('static',filename='images/badges/score-ranks/') }}{{ data['rank'] }}.svg"></th>
					<td class="text-left">{{data['score'] | integer}}</th>
					<td class="text-left">{{data['accuracy'] | acc}}</th>
					<td class="text-left"><img src="{{ url_for('static',filename='images/flags/') }}{{ data['country'] }}.png" width=24><a href="/players/{{ data['user_id'] }}/"> {{ data['username'] }}<a></th>
					<td class="text-left">{{data['maxcombo']| integer}}x</th>
					<td class="text-left">{{data['count300']| integer}}</th>
					<td class="text-left">{{data['count100']| integer}}</th>
					<td class="text-left">{{data['count50']| integer}}</th>
					<td class="text-left">{{data['countmiss']| integer}}</th>
					<td class="text-left">{% for mod in data['enabled_mods'] %}<img src="{{ url_for('static',filename='images/badges/mods/') }}{{ mod }}.png" class="mods" alt={{ mod }} data-toggle="tooltip" data-placement="top" title={{ mod }}>{% endfor %}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}