{% extends "base.html" %}
{% block title %}圖譜{% endblock %}
{% block bg %}https://assets.ppy.sh/beatmaps/{{mapset['beatmapset_id']}}/covers/cover.jpg{% endblock %}
{% block content %}
<section class="ftco-section bg-light">
    <div class="container">
        {% for diff in mapset['mapids'] %}
        <button>{{diff[1]}}</button>
        {% endfor %}
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <h4>{{mapset['version']}}</h4>
        <h1>{{mapset['title']}}</h1>
        <h4>{{mapset['artist']}}</h3>
    </div>
</section>
{% endblock %}