{% extends "base.html" %}
{% block title %}圖池{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1 class="text-center">圖池</h1>
        <p class="text-center">總共有{{c[0]}}張圖，讓你打好打滿，吃不完兜著走!</p>
        <div class="row">
            {% for map in maps %}
            <div class="col-sm-6" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="card">
                    <img src="https://assets.ppy.sh/beatmaps/{{map['beatmapset_id']}}/covers/cover.jpg" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">{{map['artist']}} - {{map['title']}}</h5>
                    <p class="card-text">作圖者: {{map['creator']}} | {{map['count_map']}} 個難度</p>
                    <div class="text-right">
                    <a href="/maps/{{map['maindiff_id']}}" class="card-link">圖譜排行榜</a>
                    <a href="https://osu.ppy.sh/beatmapsets/{{map['beatmapset_id']}}" class="card-link" target="_blank">官網連結</a>
                    <a href="https://osu.ppy.sh/d/{{map['beatmapset_id']}}" class="card-link" target="_blank">下載圖譜</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}