{% extends "base.html" %}
{% block title %}參賽名單{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="h1 col-12 text-center">參賽名單</div>
        <div class="row">
            {% for user in users %}
            <a href="/players/{{user[0]}}/">
            <div class="card block text-center">
                <img src="https://a.ppy.sh/{{user[0]}}" class="card-img-top avatar">
                <div class="card-body" style="padding: 5px;"><h6 class="card-text">{{user[1]}}</h6></div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}