{% extends "base.html" %}
{% block title %}參賽名單{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1 class="text-center">參賽名單</h1>
        <p class="text-center">總計 {{users|count}} 位玩家</p>
        <div class="row container">
            {% for user in users %}
            <a href="/users/{{user['user_id']}}/">
            <div class="card block text-center">
                <img src="https://a.ppy.sh/{{user['user_id']}}" class="card-img-top avatar">
                <div class="card-body" style="padding: 5px;"><h6 class="card-text text-truncate">{{user['username']}}</h6></div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}