{% extends "base.html" %}
{% block title %}{{ user['username'] }}的個人頁面{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-5 col-md-2">
                <img src="https://a.ppy.sh/{{ user['user_id'] }}" class="rounded img-fluid" width=160>
            </div>
            <div class="col-12 col-md-8">
                <h1>{{ user['username'] }}</h1>
                <img src="{{ url_for('static',filename='images/flags/') }}{{ user['country'] }}.png" width=24>  {{ user['country'] }}
                | <a href="https://osu.ppy.sh/users/{{ user['user_id'] }}">osu!個人頁面<a>
                <p>自我介紹(未來功能，下次測試將實現)</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <h3>遊玩紀錄</h3>
        <table class="table table-sm table-responsive-md table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">圖ID</th>
                    <th class="text-center">rank</th>
                    <th class="text-center">分數</th>
                    <th class="text-center">準確率</th>
                    <th class="text-center">最高combo</th>
                    <th class="text-center">300</th>
                    <th class="text-center">100</th>
                    <th class="text-center">50</th>
                    <th class="text-center">miss</th>
                    <th class="text-center">mods</th>
                    <th class="text-left">日期</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td class="text-center">{{ score['beatmap_id'] }}</td>
                    <td class="text-center"><img src="{{ url_for('static',filename='images/badges/score-ranks/') }}{{ score['rank'] }}.svg"></td>
                    <td class="text-center">{{ score['score'] | integer }}</td>
                    <td class="text-center">{{ score['accuracy'] | acc }}</td>
                    <td class="text-center">{{ score['maxcombo'] | integer }}</td>
                    <td class="text-center">{{ score['count300'] | integer }}</td>
                    <td class="text-center">{{ score['count100'] | integer }}</td>
                    <td class="text-center">{{ score['count50']  | integer}}</td>
                    <td class="text-center">{{ score['countmiss']| integer }}</td>
                    <td class="text-center">{{ score['enabled_mods'] }}</td>
                    <td class="text-left">{{ score['date'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}