{% extends "base.html" %}
{% block title %}排行榜{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container table-responsive-sm">
        <table class="table table-sm table-responsive-md table-striped table-hover h6 container">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">玩家</th>
                    <th class="text-center">準確率</th>
                    <th class="text-center">遊戲次數</th>
                    <th class="text-center">總分</th>
                    <th class="text-center">Ranked 總分</th>
                    <th class="text-center">SS</th>
                    <th class="text-center">S</th>
                    <th class="text-center">A</th>
                </tr>
            </thead>
            <tbody>
                {% for rank in ranking %}
                <tr>
                    <td class="text-center">{{ rank['rank'] }}</td>
                    <td class="text-left"><img src="{{ url_for('static',filename='images/flags/') }}{{ rank['country'] }}.png" width=24><a href="/players/{{ rank['user_id'] }}/"> {{ rank['username'] }}<a></td>
                    <td class="text-center">{{ rank['accuracy'] | acc }}</td>
                    <td class="text-center">{{ rank['play_count'] | integer }}</td>
                    <td class="text-center">{{ rank['total_score'] | integer }}</td>
                    <td class="text-center">{{ rank['rank_score'] | integer }}</td>
                    <td class="text-center">{{ rank['SS'] | integer }}</td>
                    <td class="text-center">{{ rank['S'] | integer }}</td>
                    <td class="text-center">{{ rank['A'] | integer }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}