{% extends "base.html" %}
{% block title %}比賽規則&玩法{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1 class="text-center">比賽規則&玩法</h1>
        <h2>加入資格</h2>
        <p>
            加入資格門檻不高，最基本資格如下:
            <ul>
                <li>擁有一個官方osu帳號</li>
                <li>目前osu帳號狀態不可為被限制或被封禁</li>
                <li>是一位osu!std玩家</li>
            </ul>
        </p>
        <h2>遊戲玩法</h2>
        <p>
            您可以在osu的單人模式或者多人模式且帳號為在線狀態，遊玩比賽規定的圖池，Mods必須加上V2，打完後成績就會被上傳。且在網站上可以看到排行榜、圖譜的排行。然後互相小圈圈競爭搶第一名。<br>
            Mods不限，但一定要開V2，本比賽是以ScoreV2計分的。NoFail可以開也不會扣分!
        </p>
        <h2>比賽時間</h2>
        <p>比賽時間為UTC時間 ?/? 00:00 ~ ?/? 23:59</p>
        <h2>獎勵</h2>
        <ul>
            <li>Ranked總分第一名: 4個月supporter</li>
            <li>Ranked總分第二名: 2個月supporter</li>
            <li>Ranked總分第三名: 1個月supporter</li>
        </ul>
        <ul>
            <li>達成率第一名: 4個月supporter</li>
            <li>達成率第二名: 2個月supporter</li>
            <li>達成率第三名: 1個月supporter</li>
        </ul>
        <ul>
            <li>每周排名連續第一名最高者: 4個月supporter</li>
        </ul>
        
        <ul>
            <h5>額外成就獎勵:</h5>
            <ul>
                <li>總分數最高者: 1個月supporter (一位)</li>
                <li>在圖池中第一個上傳成績最多的: 2個月supporter (一位)</li>
                <li>最多第一名的人: 4個月supporter (一位)</li>
                <li>達成率100%的人: 12個月supporter (無上限)</li>
            </ul>
        </ul>
        <ul>
            <h5>參加獎:</h5>
            <ul>
                <li>遊玩次數最高且每個分數都達到1,000,000分以上的人: 2個月supporter (一位)</li>
                <li>打完全部圖的玩家的人且所有圖要評價C以上: 1個月supporter (無上限)</li>
            </ul>
        </ul>
        <p class="text-white">我怎麼送那麼多獎勵= =</p>
        <h2 class="text-danger">Oauth授權聲明</h2>
        <p>本站註冊時會先請您登入osu帳號授權應用，本站只會取得您的osu的個人資料，且這些資料都是能在官方的個人頁面能看得到的，並沒有權限任意修改您的帳戶資料，請您放心使用</p>
        <h2>注意事項</h2>
        <p>
            如果發現玩家異常(如外掛、小號)，請善用官方的舉報功能，或者向主辦檢舉。
            <br>排行榜出現異常，請向主辦回報。
        </p>   
    </div>
</section>
{% endblock %}